/* ***GLOBAL LAYOUT SETUP*** */
* { 
    box-sizing: border-box;
  }

/* ****HEADING STYLES**** */

h1 {
    font-family: 'Open Sans', sans-serif;
    background-color:rgba(243, 142, 230, 0.13);
}

h2 {
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    padding: 50px 0 30px 0;
    margin: 0;
    font-size: 22px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0 5px 0;
    margin: 0;
}

/* ****LINK STYLES**** */

.main-nav a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.name a,
.main-nav a {
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
}

a:hover {
    color: orange;
}

footer a {
    text-decoration: none;
    color: black;
}

/* ****SECTION STYLES**** */

body {
    line-height: 1.5;
}

.name,
.main-nav {
    background-color:rgba(243, 142, 230, 0.13);
}

.name {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin: 0; 
    padding: 20px 0;
}

.main-nav {
    width: 100%;
    list-style-type: none;
    display: inline-block;
    padding: 0 10px 10px 10px;
    margin: 0;
}

.top-links {
    display: block;
    text-align: center;
    margin: 7px;
    font-family: 'Acme', sans-serif;
    background: white;
    text-transform: uppercase;
    font-size: 18px;
}

.intro {
    text-align: center;
    background-color:rgba(243, 142, 230, 0.13);
    padding: 50px 30px;
    border-bottom: 2px solid lightgray;
}

.intro p {
    padding: 20px;
}

/* **** MAIN **** */

.main-content {
    text-align: center;
}

.main-sections {
    margin: 0 10px 40px 10px;
    background: white;
}

.sections {
    margin: 20px 5px 5px 5px;
    padding: 0;
}

.photos {
    width: 90%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 200;
    margin: auto;
    padding: 10px 30px 20px 30px;
}

/* ****SKILLS**** */

.skills {
    padding: 10px;
    background-color:rgba(243, 142, 230, 0.13);
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.skills h2 {
    padding: 20px 0 10px 0;
}

.skills ul {
    padding: 0;
}

.skills-items {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 200;
    padding: 5px;
}

/* **** CONTACT **** */

.contact {
    text-align: center;
    padding: 25px 0 50px 0;
    margin: 0;
    background-color: white;
}

.contact p {
    max-width: 700px;
    padding: 10px 20px 20px;
}

.contact h2 {
    width: 100%;
    padding: 40px 10px 30px 10px;
    margin: 0;
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
}

.wrapper {
    text-align: center; 
    margin: 0;
    overflow: auto;
    display: inline-block;
}

.wrapper li {
    list-style-type: none;
}

#phone {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 200;
    padding-right: 20px;
}

#numbers {
    float: left;
    font-size: 17px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#email {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 200;
    margin: 0;
    padding-right: 20px;
}

#address {
    float: left;
    font-size: 17px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* **** LINE **** */

#line {
    width: 90%;
    margin: auto;
    border-top: 2px solid lightgrey;
    background-color: white;
}

/* **** FOOTER **** */

#bottom-name {
    float: left;
    margin: 20px -20px;
    padding: 10px;
    font-family: 'Cinzel', serif;
    font-size: 17px;
    font-weight: 500;
}

.back-to-top {
    float: right;
    padding: 10px;
    margin: 20px 15px 20px 5px;
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

footer { 
    width: 95%;
    margin: auto;
    background-color: white; 
    clear: both;
    padding-bottom: 0;
    text-align: center;
}

.bottom-nav ul {
    margin: 0;
    list-style-type: none;
}

.footer-links {
    visibility: hidden;
}



/* **** MEDIA QUERIES **** */

@media (min-width: 768px) {

    .name {
        margin: 0;
        padding: 20px;
    }

    .main-nav {
        text-align: center;
    }

    .main-nav a {
        padding: 10px;
    }

    .top-links {
        display: inline-block;
        background: none;
    }

    .intro {
        padding-top: 30px;
    }

    .intro p {
        float: left;
        width: 60%;
        text-align: left;
        padding: 0 20px 0 0;
    }

    .profile {
        float: right;
        width: 40%;
    }

    /* ****MAIN SECTIONS**** */

    .main-sections {
        position: relative;
    }

    .sections {
        width: 47%;
        margin: 5px;
        overflow: auto;
        display: inline-block;
        text-align: center; 
    }

    /* ****CONTACT**** */

    .contact {
        clear: both;
    }

    .contact p {
        padding-bottom: 2em;
    }

    .wrapper li {
        display: inline-block;
    }

    /* ****FOOTER**** */

    .footer-links {
        float: right;
    }

    .footer-links li {
        float: left;
        display: inline-block;
        visibility: visible;
        padding: 10px;
        margin: 20px 15px 20px 5px;
        font-family: 'Acme', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
    }

    .back-to-top {
        display: none;
    }
    
    /* ****FLOATS CLEARFIX**** */

    .intro:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media (min-width: 1024px) {

    .container {
        padding: 30px;
        background-color:rgba(243, 142, 230, 0.13);
    }

    .name {
        padding: 10px 10px 10px 10px;
        background-color:rgba(243, 142, 230, 0);
    }

    .name,
    .main-nav li {
        display: inline-block;
    }

    .main-nav {
        float: right;
        width: 50%;
        text-align: right;
        padding: 10px;
        margin: 0;
        overflow: hidden;
        background-color:rgba(243, 142, 230, 0);
    }

    .main-nav a {
        margin: 0;
        padding: 0 20px;
        background: none;
    }

    .intro p {
        width: 50%;
        padding: 10px;
    }

    .intro img {
        width: 40%;
        padding: 10px;
    }

    /* ****MAIN**** */
    
    .main-sections {
        position: relative;
        max-width: 1600px;
    }

    .sections {
        width: 30%;
        margin: 5px 5px 30px 5px;
        overflow: auto;
        display: inline-block;
        text-align: center;
    }

    /* ****FOOTER**** */

    .footer-links li {
        float: left;
        padding: 10px;
        margin: 20px 15px 20px 5px;
        font-family: 'Acme', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
    }

    .back-to-top {
        display: none;
    }

}

/* ****END MEDIA QUERIES**** */