/* ***GLOBAL LAYOUT SETUP*** */
* { 
    box-sizing: border-box;
  }

/* ***HEADING STYLES*** */

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    margin: 40px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0 5px 0;
}

/* ***LINK STYLES*** */

.nav a {
    text-decoration: none;
    font-style: bold;
    color: black;
    padding: 20px 100px;
}

a:hover {
    color: orange;
}

footer a {
    text-decoration: none;
    color: black;
}

/* ***SECTION STYLES*** */

body {
    line-height: 1.5;
}

.wrap {
    min-height: 100vh;
}

.name {
    font-weight: bold;
    text-align: center;
}

.main-nav {
    text-align: center;
    background-color: whitesmoke;
}

.nav {
    width: 100%;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.top-links {
    padding: 10px 0px;
    background-color: white;
    margin: 7px;
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.intro {
    text-align: center;
    background-color: whitesmoke;
    padding: 20px 10px;
}

.intro p {
    padding: 10px 30px;
}

/* **** MAIN **** */

.main-content {
    text-align: center;
    background-color: white;
}

/* .main-content p {
    padding: 10px 30px 30px 30px;
} */

.main-sections {
    margin: 10px 10px 40px 10px;
}

.sections {
    margin: 20px 5px 5px 5px;
    padding: 0;
}

.photos {
    width: 90%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 200;
    margin: auto;
    padding: 10px 20px;
}

/* **** CONTACT **** */

.contact {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 55px;
    background-color: whitesmoke;
}

.contact h2 {
    width: 100%;
    padding: 40px 10px 30px 10px;
    margin: 0;
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
}

.wrapper {
    width: 60%;
    margin: 0;
    overflow: auto;
    display: inline-block;
    text-align: center; 
}

.wrapper li {
    list-style-type: none;
}

#phone {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 200;
}

#numbers {
    float: right;
    font-size: 17px;
}

#email {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 200;
}

#address {
    float: right;
    font-size: 17px;
}

/* **** LINE **** */

#line {
    width: 90%;
    margin: auto;
    border-top: 2px solid lightgrey;
    background-color: whitesmoke;
}

/* **** FOOTER **** */

.bottom-nav {
    font-weight: 200;
    overflow: auto;
}


#bottom-name {
    float: left;
    margin: 20px -20px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

#back-to-top {
    float: right;
    padding: 10px;
    margin: 20px 15px 20px 5px;
    font-size: 17px;
}

footer { 
    background-color: whitesmoke; 
    clear: both;
    padding-bottom: 0;
    text-align: center;
}

.bottom-nav ul {
    margin: 0;
    list-style-type: none;
}

/* **** MEDIA QUERIES **** */

